/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 15, 2024, 8:41:32 PM
    Author     : salvador
*/

* {
    font-family: sans-serif;
}

body {
    height: 100vh;
}

* button {
    cursor: pointer;
    border-radius: 0.2rem;
    border: 0;
    min-height: 1.5rem;
    background: white;
    transition: 0.1s ease-in;
}

* button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.7;
    background: rgb(245,245,245);
}

body {
    background: whitesmoke;
    margin: 0;
    padding: 0;
    font-size: 19px;
    position: relative;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-centered {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.quarter-width {
    width: 25%;
}

select {
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    height: 2rem;
    background: white;
    font-weight: 600;
}

#background-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    z-index: -1;
    object-fit: cover;
}

#main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#main-form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: white;
}

#main-form input {
    height: 2rem;
}

#main-nav {
    display: flex;
    background-color: rgba(100,100,100,0.2);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

#main-nav ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 9rem 20rem 11rem;
    list-style: none;
    justify-content: space-around;
    gap: 3rem;
}

#main-nav li button {
    background: white;
    padding: 0.5rem 0;
    font-size: 0.95rem;
}

#amount {
    width: 20rem;
}