<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Dollar Calculator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css" />
    </head>
    <body>
        <img alt="background-image" src="../static/background1.jpg" style="position: absolute; width: 100%; height: 100vh; opacity: 0.2; z-index: -1; object-fit: cover;" />
        <nav id="main-nav">
            <ul>
                <li>
                    <button>Opciones</button>
                </li>
            </ul>
            <button class="quarter-width" id="toggle-button">
                Cambiar modo
            </button>
        </nav>
        <main>
            <header class="text-centered">
                <h1>
                    Dollar Calculator
                </h1>
            </header>
            <div class="centered column">
                <h4 th:text='${"Tasa del dólar: " + Bcv.getRate() + " Bs."}'>Tasa del dólar: 36.5 Bs.</h4>
                <form id="main-form" class="text-centered" action="ConvertBsToUsd">
                    <label id="amount-label" for="amount">Introducir monto en Bolívares:</label>
                    <input required type="number" id="amount" name="amount" />
                    <input type="text" name="rate" th:value="${Bcv.getRate()}" style="display:none;" />
                    <button type="submit">Calcular</button>
                </form>
            </div>
        </main>
    </body>
    <script>
        let convertBolivares = true;
        const form = document.getElementById("main-form");

        form.addEventListener("submit", (event) => {
            const formData = new FormData(event.currentTarget);

            const entries = Array.from(formData.entries());

            for (const [key, value] of entries) {
                if (key === "rate")
                    continue;
                if (!value) {
                    alert("Please fill out all form parameters.");
                    event.preventDefault();
                    break;
                }
            }
        });

        function setConvertMode() {
            const form = document.getElementById("main-form");
            const action = convertBolivares ? "ConvertBsToUsd" : "ConvertUsdToBs";
            form.setAttribute("action", action);

            const label = document.getElementById("amount-label");

            const text = convertBolivares ? "Introducir monto en Bolívares:" : "Introducir monto en Dólares:";
            label.innerText = text;
        }

        setConvertMode();

        document.getElementById("toggle-button").addEventListener("click", (event) => {
            convertBolivares = !convertBolivares;
            setConvertMode();
        });
    </script>
</html>
